# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# SQLite Database
database/*.db

# Machine Learning Models
models/*.pkl

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# System Files
.DS_Store
Thumbs.db