<!DOCTYPE html>
<html>
<head>
    <title>Edit Customer</title>
</head>
<body>

<h1>Edit Customer</h1>

<form method="POST">

<label>Name</label><br>
<input type="text" name="customer_name"
value="{{ customer.customer_name }}"><br><br>

<label>Email</label><br>
<input type="email" name="email"
value="{{ customer.email }}"><br><br>

<label>Phone</label><br>
<input type="text" name="phone"
value="{{ customer.phone }}"><br><br>

<label>Region</label><br>
<input type="text" name="region"
value="{{ customer.region }}"><br><br>

<button type="submit">Update Customer</button>

</form>

<br>

<a href="/customers">Back</a>

</body>
</html>